body {
    margin: 0px;
    padding: 0px;
}

#canvasInput:focus {
    outline: none;
}

.canvas-area {
    border-radius: .5rem;
    border: 1px solid #ccc;
    margin: 5rem;
}

.main-input-area {
    font-size: 2rem;
}